<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bem-Vindo!</title>
  </head>
  <body>
    <h1>Olá {{name}}!</h1>
    <h2>Estamos felizes de você utilizar {{company}}!</h2>
  </body>
</html>